.item {
  color: greenyellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
span {
  margin-left: 15px;
  color: #fff;
}
